<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <a href=""><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
      
            <form [formGroup]="adminLogin">
              <div class="input-group mb-3">
                  <input type="text" required formControlName="name" class="form-control" id="InputEmail" aria-describedby="nameHelp" placeholder="Enter name"/>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-show" >
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="name.errors.pattern">
                      Invalid Name
                    </div>
                  </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" required formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-show">
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Password must be minimum 4 Number
                  </div>
                 
                </div>
                
              </div>
              <div class="row">
                <div class="col-8">
                  <!-- <div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                      Remember Me
                    </label>
                  </div> -->
                </div>
                <!-- /.col -->
                <div class="col-4">
                  
                  <button [disabled]="adminLogin.invalid" (click)="loginAdmin(adminLogin.value)" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
      
           
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
    
</body>
